/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace containers "org.mig.view.containers.*";

@font-face {
	src: url("/fonts/Transit/TransNor.ttf");
	fontFamily: "Transit-Normal";
	embedAsCFF: true;
}
@font-face {
	src: url("/fonts/Transit/TransBol.ttf");
	fontFamily: "Transit-Bold";
	embedAsCFF: true;
}
containers|ResizableTitleWindow {
	skinClass: ClassReference("org.mig.view.skins.containers.ResizableTitleWindowSkin");
}
s|TitleWindow {
	skinClass: ClassReference("org.mig.view.skins.containers.TitleWindowSkin");
}
s|VScrollBar {
	skinClass: ClassReference("org.mig.view.skins.controls.MiGScrollBarSkin");
}
s|Label{
	color: #FFFFFF;
	fontFamily: Transit-Normal;
	fontSize: 14pt;
	backgroundAlpha: 0;
	fontLookup: embeddedCFF;
	renderingMode: normal;
}
s|RichText {
	color: white;
	fontLookup: embeddedCFF;
	renderingMode:normal;
}
s|TextArea {
	color: white;
	fontLookup: embeddedCFF;
	renderingMode:normal;
	fontSize: 14;
	focusedTextSelectionColor: #ed1c58;
	unfocusedTextSelectionColor: #333333;
	contentBackgroundColor: #111111;
}
s|HSlider {
	skinClass: ClassReference("org.mig.view.skins.controls.MiGHSliderSkin");
}
s|CheckBox {
	skinClass: ClassReference("org.mig.view.skins.controls.CheckBoxSkin");
	color: #888888	;
}
s|NumericStepper {
	borderVisible: none;
	textAlign:center;
	symbolColor: #CCCCCC;
	contentBackgroundColor: #111111;
	contentBackgroundAlpha:1;
	color: #ffffff;
	fontSize: 14;
	skinClass: ClassReference("org.mig.view.skins.controls.NumericStepperSkin");
}

/* Buttons */
s|Button {
	color: #ffffff;
	fontLookup: embeddedCFF;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #000000;
	renderingMode:normal;
}
.defaultBlackButton {
	skinClass: ClassReference("org.mig.view.skins.buttons.DefaultBlackButtonSkin");
}
.defaultGrayButton {
	skinClass: ClassReference("org.mig.view.skins.buttons.DefaultGrayButtonSkin");
}
.textOnlyButton {
	skinClass: ClassReference("org.mig.view.skins.buttons.TextOnlyButtonSkin");
}
.linkButton {
	skinClass: ClassReference("org.mig.view.skins.buttons.LinkButtonSkin");
}
s|TextInput {
	contentBackgroundColor: #333333;
	fontLookup: embeddedCFF;
	color: #FFFFFF;
	fontFamily: Transit-Normal;
	fontWeight: normal;
	fontSize: 14pt;
	focusColor: #000000;
	focusedTextSelectionColor: #ed1c58;
	unfocusedTextSelectionColor: #333333;
	chromeColor: #ed1c58;
	renderingMode: normal;
	focusColor: #ed1c58;
}
.locationHeader {
	skinClass: ClassReference("org.mig.view.skins.buttons.BoldTextOnlyButtonSkin");
	color: #666666;
}
.boldCopy {
	color: white;
	fontFamily: Transit-Bold;
	fontWeight: normal;
	fontSize: 14pt;
	textAlign: left;
	textDecoration: none;
	fontLookup: embeddedCFF;
	renderingMode:cff;
}

.bodyCopy {
	color: white;
	fontFamily: Transit-Normal;
	fontWeight: normal;
	fontSize: 14pt;
	textAlign: left;
	textDecoration: none;
	fontLookup: embeddedCFF;
	renderingMode: normal;
}
.inputFieldGray{
	disabledColor: #FFFFFF;
	contentBackgroundColor: #666666;
	borderStyle: none;
	paddingLeft: 3;
	paddingRight: 3;
	borderVisible: false;
	renderingMode: normal;
}
.inputFieldBlack{
	disabledColor: #666666;
	color: white;
	contentBackgroundColor: black;	
	borderVisible: false;
	paddingLeft: 3;
	paddingRight: 3;
	renderingMode: normal;	
}
.locationHeader {
	fontFamily: Transit-Bold;
	fontSize: 14pt;
	fontLookup: embeddedCFF;
}
.migComboBox {
	fontSize: 14;
	color: #888888	;
	contentBackgroundAlpha: 1;
	selectionColor: #ED1C58;
	rollOverColor: #ED1C58;
	alternatingItemColors: #111111, #111111;
	contentBackgroundColor: #111111;
	renderingMode: normal;
	skinClass: ClassReference("org.mig.view.skins.dropdowns.DefaultComboBoxSkin");
}
.comboBoxBlack{
	cornerRadius: 0;
	rollOverColor: #ED1C58;
	selectionColor: #ED1C58;
	alternatingItemColors: #111111, #111111;
	contentBackgroundColor: #111111;
	contentBackgroundAlpha: 1;
	symbolColor: #FFFFFF;
	borderVisible: false;
	skinClass: ClassReference("org.mig.view.skins.dropdowns.DefaultComboBoxSkin");
}
.customFieldsList {
	contentBackgroundAlpha: 1;
	contentBackgroundColor: #111111;
	rollOverColor: #ED1C58;
	selectionColor: #ED1C58;
	borderVisible: false;
}

/****************** HALO *****************/
mx|DateChooser {
	cornerRadius: 0;
	headerColors: #888888, #777777;
	fillAlphas: 0.91, 0.4, 0.75, 0.65;
	fillColors: #888888, #999999, #0033cc, #99ff00;
	todayColor: #ed1c58;
	rollOverColor: #ed1c58;
	selectionColor: #ed1c58;
	color: #ffffff;
	borderColor: #aab3b3;
	contentBackgroundColor: #111111;
	contentVackgroundAlpha: 1;
	chromeColor: #ed1c58;
	dropShadowEnabled: false;
	headerStyleName: "dateChooserHeaderStyle";
	weekDayStyleName: "dateChooserWeekDayStyle";
}
.dateChooserHeaderStyle{
	color: white;
	font-family: Transit-Bold;
	font-weight: normal;
	
}
.dateChooserWeekDayStyle {
	color: white;
	font-family: Transit-Bold;
	font-weight: normal;
}

.dateChooserTextInput {
	color: white;
	fontFamily: Transit-Normal;
	fontWeight: normal;
	fontSize: 14pt;
	backgroundColor: #111111;
	backgroundAlpha: 0;
	disabledColor: #666666;
	backgroundDisabledColor:#000000;	
	borderStyle: none;
	borderColor: #999999;
	paddingLeft: 3;
	paddingRight: 3;
	textSelectionColor: #ff0011;
}
mx|AdvancedDataGrid {
	fontFamily: Transit-Normal;
	fontSize: 15pt;
	alternatingItemColors: #191819, #111111;
	headerColors: #888888, #777777;
	horizontalGridLines: false;
	letterSpacing: 0;
	verticalGridLineColor: #333333;
	rollOverColor: #ED1C58;
	selectionColor: #ED1C58;
	borderVisible: false;
	color: #ffffff;
	contentBackgroundColor: #191919;
	textAlign: left;
	textSelectedColor: #ffffff;
	textRollOverColor: #ffffff;
	accentColor: #ed1c58;
	disclosureClosedIcon: Embed(source="migAssets/flex_skins.swf",symbol="Tree_folderClosedIcon");
	disclosureOpenIcon: Embed(source="migAssets/flex_skins.swf",symbol="Tree_folderOpenIcon");
	dropIndicatorSkin: ClassReference("org.mig.view.skins.TreeDropIndicator");
	openDuration:250;
	headerStyleName: dataGridHeaderStyle;
	headerSeparatorSkin: Embed(source="migAssets/flex_skins.swf",symbol="DataGrid_headerSeparatorSkin");
}
.mediaManagerGrid {
	dropIndicatorSkin: ClassReference("org.mig.view.skins.OffsetedDropIndicator");
	folderClosedIcon: Embed(source='/migAssets/library.swf#folderIcon');
	folderOpenIcon: Embed(source='/migAssets/library.swf#folderIcon');
	defaultLeafIcon: ClassReference("null");
	headerSortSeparatorSkin: ClassReference("org.mig.view.skins.SortSeparatorSkin");
}
.dataGridHeaderStyle{
	color: #FFFFFF;
	fontFamily: Transit-Normal;
	fontSize: 14;
	paddingBottom: 0;
	paddingTop: 0;
	textAlign: left;
}
mx|Tree {
	defaultLeafIcon: Embed(source="migAssets/flex_skins.swf",symbol="Tree_noIcon");
	folderClosedIcon: Embed(source="migAssets/flex_skins.swf",symbol="Tree_noIcon");
	folderOpenIcon: Embed(source="migAssets/flex_skins.swf",symbol="Tree_noIcon");
	contentBackgroundAlpha: 0;
	borderVisible: false;
	rollOverColor: #ED1C58;
	selectionColor: #ED1C58;
	textRollOverColor: #333333;
	textSelectedColor: #333333;
}
mx|Text {
	color: #FFFFFF;
	fontSize: 14;
}
.containerTree{
	color: #3F3F3F;	
	disclosureClosedIcon: Embed(source="migAssets/flex_skins.swf",symbol="Tree_folderClosedIconGray");
	disclosureOpenIcon: Embed(source="migAssets/flex_skins.swf",symbol="Tree_folderOpenIconGray");
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	dropIndicatorSkin: ClassReference("org.mig.view.skins.TreeDropIndicator");
}
.managerTree{
	color: #FFFFFF;
	disclosureClosedIcon: Embed(source="migAssets/flex_skins.swf",symbol="Tree_folderClosedIcon");
	disclosureOpenIcon: Embed(source="migAssets/flex_skins.swf",symbol="Tree_folderOpenIcon");
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
}

.defaultButtonBackground{
	backgroundImage: ClassReference("org.mig.view.skins.GradientBackground");
	backgroundSize: "100%";
	fillColors: #808080, #595959;
	fillAlphas: 1, 1;
}
.defaultButtonHighlight{
	backgroundImage: ClassReference("org.mig.view.skins.GradientBackground");
	backgroundSize: "100%";
	fillColors: #FFFFFF, #FFFFFF;
	fillAlphas: 0.1, 0.02;
}
.defaultButtonOverBackground{
	backgroundImage: ClassReference("org.mig.view.skins.GradientBackground");
	backgroundSize: "100%";
	fillColors: #ED1C58, #BD1E53;
	fillAlphas: 1, 1;
} 

.toolTabBar {
	skinClass: ClassReference("org.mig.view.skins.controls.ToolTabBarSkin");
	cornerRadius: 0;
}