<?xml version="1.0" encoding="utf-8"?>
<configDocument>

	<controller id="contentController" rootURL="http://migdev.mig.pentagram.com/"
		pendingURL="http://migdev.mig.pentagram.com/" publishedURL="http://migdev.mig.pentagram.com/"
		textEditorColor="0xCCCCCC" renderer="flash" textFormat="textFieldHTMLFormat"
		timeout="100" tablename="content" createContent="insertRecord"
		retrieveContent="getContent" updateContent="updateRecord"
		deleteContent="deleteContent"><!--  soft delete is global -->

		<child name="Containers" contentView="org.mig.view.components.content.MainMiddleView"
			labelField="migtitle" orderby="displayorder"> <!--  if any children are not fixed, enable adding -->

			<child name="Projects" contentView="org.mig.view.components.content.ContentView"
				generalEditorView="org.mig.view.components.content.ContentGeneralEditor"
				labelField="migtitle" id="2" is_fixed="1" templateid="1">

				<child name="Project" contentView="org.mig.view.components.content.ContentView"
					generalEditorView="org.mig.view.components.content.ContentGeneralEditor"
					labelField="migtitle" nesting="1" templateid="1" is_fixed="0"
					orderby="displayorder" acceptDrop="true" dropTemplates="2">

					<tray type="RelatedContent" templateid="2" name="Related Projects" />
					<tray type="RelatedContent" templateid="3" name="Related Posts" />
					<tab type="Media" name="My Media" />
					<tab type="TagsCategories" />
				</child>
			</child>

			<child name="Posts" contentView="org.mig.view.components.content.ContentView"
				generalEditorView="org.mig.view.components.content.ContentGeneralEditor"
				labelField="migtitle" id="3" is_fixed="1" templateid="1">

				<child name="Post" contentView="org.mig.view.components.content.ContentView"
					generalEditorView="org.mig.view.components.content.ContentGeneralEditor"
					labelField="migtitle" orderby="displayorder" templateid="1"
					is_fixed="0" acceptDrop="true" dropTemplates="4">
					<tray type="RelatedContent" templateid="1" name="Related Posts" />
					<tab type="Media" />
					<tab type="TagsCategories" />

				</child>
			</child>
		</child>
	</controller>
	<manager id="mediaManager" name="Media"
		mediaURL="http://migdev.mig.pentagram.com/files"
		thumbURL="http://migdev.mig.pentagram.com/files/migThumbs" 
		fileDir="files"
		thumbDir="files/migThumbs">
		<child labelField="name" 
			tablename="media" 
			createContent="insertRecord" 
			retrieveContent="getData"
			updateContent="updateRecord"
			updateDirectory="updateMediaByPath"
			deleteDirectory="deleteMediaByPath"
			deleteFile="deleteRecord"
			addDirectoryView="org.mig.view.components.AddDirectoryView"
			directoryContentView="com.mapx.view.mediaManager.DirectoryView"
			parentDirectoryContentView="com.mapx.view.mediaManager.ParentDirectoryView" />
	</manager>

	
	<manager id="termsManager" name="Tags &amp; Categories">
		<child labelfield="name"
			createContent="insertTag" 
			retrieveContent="getTerms"
			updateContent="updateTag"
			deleteContent="deleteTag" />
	</manager>
	<manager id="customfieldsManager" name="Custom Fields">
		<child labelfield="name"
			createContent="insertRecord" 
			retrieveContent="getData"
			updateContent="updateRecord"
			deleteContent="deleteRecord" />
	</manager>
	<manager id="templateManager" name="Templates">
		<child labelfield="name"
			createContent="insertRecord" 
			retrieveContent="getData"
			updateContent="updateRecord"
			deleteContent="deleteRecord" />
	</manager>	
		<manager id="userManager" name="Manager">
		<child labelfield="name"
			createContent="insertRecord" 
			retrieveContent="getData"
			updateContent="updateRecord"
			deleteContent="deleteRecord" />
	</manager>	
	<elements>
		<tray type="RelatedContent" contentView="com.mapx.view.content.trays.LinkingTray"
			itemView="com.mapx.view.content.trays.LinkView" labelField="migtitle"
			tablename="content_content" deleteContent="deleteRecord"
			retrieveContent="getContentContent" vars="contentid,templateid">
			<parameters>
				<parameter name="templateid" required="true" />
				<parameter name="name" required="false" defaultvalue="Related Containers" />
			</parameters>
		</tray><!--  will need more elaboration, could use parentid -->

		<tab type="Media" 
			contentView="org.mig.view.components.content.media.MediaTab"
			itemView="org.mig.view.components.content.media.MediaTabAnimatedListRenderer" 
			dto="org.mig.model.vo.relational.ContentMedia" 
			tablename="content_media" 
			vars="contentid" labelField="name"
			retrieveContent="getContentMedia"
			deleteContent="deleteRecord">
			<parameters>
				<parameter name="formats" required="false" defaultvalue="videos,images,audio,files" />
				<parameter name="usage" required="false" defaultvalue="Thumb,General" />
				<parameter name="name" required="false" defaultvalue="Media" />
			</parameters>
		</tab>

		<tab type="TagsCategories" contentView="org.mig.view.components.content.tabs.TagsCategoriesTab"
			itemView="com.mapx.view.content.trays.TagView" tablename="content_terms" dto="org.mig.model.vo.content.ContainerData"
			vars="contentid" retrieveContent="getContentTags" updateContent="updateContentRecord"
			deleteContent="deleteRecord">
			<parameters>
				<parameter name="name" required="false" defaultvalue="Tags &amp; Categories" />
			</parameters>
		</tab>
	</elements>
</configDocument>